.sort {
	margin-top: 0.5em;
	padding: 0.4em;
	background-color: rgb(3, 8, 35);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.sort button {
	margin: 0.2em;
}
