<div class="component-name">
    <h3>Регистрация</h3>
</div>
<div class="form-wrapper">
    <form #f="ngForm" (ngSubmit)="onReg(f)" class="form-auth">
        <p>
            <label for="user">Име:</label>
            <input type="text" #user="ngModel" id="user" name="user" ngModel required placeholder="Вашето име"
                autocomplete="on" [ngClass]="{error: (user.invalid&&user.touched)}">
        </p>
        <p>
            <label for="mail">Email:</label>
            <input type="email" #emailInput="ngModel" id="mail" name="email" ngModel email required
                pattern="\w+\.*\w+@\w{2,}\.\w{2,}" placeholder="email" autocomplete="on"
                [ngClass]="{error: (emailInput.invalid&&emailInput.touched)}">
        </p>
        <p>
            <label for="pass">Парола:</label>
            <input type="password" id="pass" name="password" #pass="ngModel" ngModel minlength="6" required
                placeholder="password" autocomplete="on" (input)="check(passConfirm.value, pass.value)"
                [ngClass]="{error: (pass.touched && pass.invalid)}">
        </p>
        <p>
            <label for="passConfirm">Повторете паролата:</label>
            <input type="password" id="passConfirm" name="passConfirm" #passConfirm="ngModel" ngModel minlength="6"
                required placeholder="repeat password" autocomplete="on" (input)="check(passConfirm.value, pass.value)"
                [ngClass]="{error: (passConfirm.touched && !passCheck)}">
        </p>
        <ul *ngIf="f.invalid||!passCheck">
            <li *ngIf="user.invalid && user.touched" class="error">Невалидно име!</li>
            <li *ngIf="emailInput.invalid && emailInput.touched" class="error">Невалиден email адрес!</li>
            <li *ngIf="pass.invalid && pass.touched" class="error">Минималната дължина на паролата е 6 знака.</li>
            <li *ngIf="passConfirm.touched && !passCheck" class="error">Паролата не съвпада!</li>
        </ul>
        <p *ngIf="regErrorMessge" class="error"> {{regErrorMessge}}</p>

        <button type="submit" [disabled]="f.invalid||!passCheck">Регистрация</button>
    </form>
</div>