.form-wrapper {
	margin: 2em auto;
	background-color: rgb(3, 8, 35);
	max-width: 38em;
	padding: 1.2em 2em;
	border-radius: 0.5em;
	font-size: 1.2em;
	border: 2px solid black;
}

.form {
	border: 2px solid white;
	padding: 2em;
	background-color: rgb(135, 139, 142);
	border-radius: inherit;
}
.form p {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	flex-wrap: wrap;
}

input[type=text],
input[type=number],
textarea {
	align-items: baseline;
	display: block;
	padding: 0.2em;
	margin-bottom: 1em;
	margin-top: 0.2em;
	margin-left: 1em;
	width: 60%;
	background-color: white;
	font-size: 1.2em;
	border: 2px solid rgb(3, 8, 35);
	border-radius: 0.2em;
	min-width: 250px;
}
input.error,
textarea.error {
	color: red;
	border-color: red;
}
label {
	color: rgb(3, 8, 35);
	font-size: 1.2em;
	flex-shrink: 0;
}

button {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: rgb(3, 8, 35);
	color: white;
	padding: 0.5em 1em;
	font-size: inherit;
	border: 2px solid white;
	border-radius: inherit;
	cursor: pointer;
	font-weight: 700;
	/* -webkit-transition-duration: 0.3s; */
	/* Safari */
	/* transition-duration: 0.3s; */
}
button:hover {
	background-color: white;
	color: rgb(3, 8, 35);
}
button:disabled {
	background-color: grey;
	color: darkgray;
	cursor: not-allowed;
}

@media screen and (max-width: 400px) {
	.form {
		padding: 0;
	}

	.form p,
	div.radio {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input[type=text],
	input[type=number],
	textarea {
		align-items: baseline;
		display: block;
		padding: 0.2em;
		margin-bottom: 1em;
		margin-top: 0.2em;
		margin-left: 1em;
		width: 60%;
		background-color: white;
		font-size: 1.2em;
		border: 2px solid rgb(3, 8, 35);
		border-radius: 0.2em;
		min-width: 150px;
	}
}
