<div class="nav">
    <div class="logo">
        <h1 *ngIf="isAuth" routerLink="/ads">Малки обяви</h1>
        <h1 *ngIf="!isAuth" routerLink="/">Малки обяви</h1>
    </div>
    <ul>
        <li *ngIf="!isAuth"><a routerLink="/">Начало</a></li>
        <li *ngIf="isAuth"><a routerLink="/ads">Обяви</a></li>
        <li *ngIf="!isAuth"><a routerLink="/user/register">Регистрация</a></li>
        <li *ngIf="!isAuth"><a routerLink="/user/login">Вход</a></li>
        <li *ngIf="isAuth"><a routerLink="/ads/post">Публикувай</a></li>
        <li *ngIf="isAuth"><a (click)="logout()">Изход</a></li>
    </ul>
    <div class="nik">
        <p *ngIf="nikname">Здравей, {{nikname}}</p>
    </div>
</div>