<div class="nav">
    <div class="logo">
        <h1 routerLink="/home">Малки обяви</h1>
    </div>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/post">Post</a></li>
        <li><a routerLink="/">Logout</a></li>
    </ul>
    <div class="nik">
        <!-- <p *ngIf="nikname">Hello, {{nikname}}</p> -->
    </div>
</div>