.buy-sell-ads {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}

.search-sort {
	display: flex;
	flex-direction: column;
	margin: 1em auto;
	background-color: rgb(135, 139, 142);
	border: 1px solid rgb(3, 8, 35);
	border-radius: 0.3em;
	color: white;
	padding: 0.3em;
	max-width: 480px;
}
.search-sort button {
	padding: 0.3em 0.8em;
}
